.row.post{id: html_id(post)}
  .columns.small-2
    %img(src="http://placehold.it/80x80&text=#{post.user.name}")

  .columns.small-10
    = post.content

    .post_likes
      = render partial: '/posts/likes', locals: { post: post }

    .comments
      .comment_count= pluralize(post.comments.length, "comments")
      = render post.comments

    .row
      .columns.small-11.small-offset-1.large-10.large-offset-2
        = form_for([post, Comment.new], remote: true) do |f|
          .row
            .column.small-12
              = f.label :content, 'Comment', style:"display:none"
              = f.text_area :content
          .row
            .column.small-12
              = f.button 'Comment', class: "tiny right"
